body
{
    margin-top: 50px;
}
a:hover { 
	text-decoration:none; 
}
.btn
{
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.btn-read-more
{
    padding: 3px;
    margin-right: 14px;
    text-align: center;
    border-radius: 0px;
    display: inline-block;
/*     border: 2px solid #662D91; */
/*     border: 2px solid #ee8b2d; */
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
/*     color:#662D91; */
    color:#ee8b2d;
}

.btn-read-more:hover
{
    color: #FFF;
/*     background: #662D91; */
	background: #ee8b2d;
	border-radius: 4px 4px 4px 4px; 
}
.post { 
	border-bottom:1px solid #DDD 
	}
.post-title {  
	color:#662D91; 
	}
.post .glyphicon { 
	margin-right:5px; 
}
.post-header-line { 
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	padding:5px 0px 5px 15px;
	font-size: 12px; 
	}
.post-content { 
	padding-bottom: 15px;
	padding-top: 0px;
	}
.article-title{
	color: #ee8b2d;
	}
.artcl_hits_positive{
	color: #5cb85c;
}
.artcl_hits_negetive{
	color: #d9534f;
}
/* .artcl_hits_positive:hover{
	color: #eee;
	cursor: pointer;
}
.artcl_hits_negetive:hover{
	color: #eee;
	cursor: pointer;
} */
.artcl_visits{
	font-size: 30px;
	padding-top: 38px;
	margin-right: 28px;
}
.artcl_visits:hover{
	color: #eee;
	cursor: pointer;
}