@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 0;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

#navbar-brand-img1 {
	height: 47px;
	width: 292px;
	margin-top: -13px;
}
.notificationBadge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: super;
    background-color: #E73838;
    border-radius: 10px;
}

.cstm_dropdown-messages{
	left : 1;
	right: calc;
}

#hearts { 
	color: #ee8b2d;
	}
#hearts-existing { 
	color: #ee8b2d;
	}
#artcl_list_title{
	color : #ee8b2d;
}
#artcl_list_title:hover{
	color : #5FB0E4;
	text-decoration: underline;
}
.artcl_list_anchors{
	color : #ee8b2d;
}

.articlesList{
	width : 100%;
	margin-right: -17px;
	margin-left: -11px;
	border-top: 5px solid rgb(221, 221, 221);
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
	border-bottom: 0px solid rgb(221, 221, 221);
	border-radius: 15px;
}
.artclInfoLine{
	border-top: 1px solid #DDD;
	border-bottom: 0px;
	padding: 5px 0px 5px 15px;
	font-size: 12px;
}
.articlesList:hover{
	background-color: rgba(240, 173, 78, 0.12);
	border-radius : 15px;
}
a.includeInFetch:hover{ 
	cursor: pointer; 
	cursor: hand; 
}

/* loading img */
#spinner{
  font-size: 40px; 
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


